{% extends 'base.html' %}

    {% block content %}
<h2>List of all products</h2>
        <table class="table table-bordered table-sm table-striped">
            <tr>
                <th>Added by</th>
                <th>Name</th>
                <th>Expiration date</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Type</th>
                <th>Image</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.user }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.expiration_date }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.get_unit_display }}</td>
                <td>{{ product.get_type_display }}</td>
                {%  if product.image %}
                <td><a href="{{ product.image.url }}"><img src="{{ product.image.thumbnail.url }}"></td>
                {% else %}
                <td><a href="http://127.0.0.1:8000/media/media/default_product.png"><img src="http://127.0.0.1:8000/media/media/default_product.png"></a></td>
                {%  endif %}

            </tr>
            {% endfor %}
        </table>
{% endblock %}